<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0000000-0000-4000-8000-000000000002" Alias="TrueCopy Tree Picker" Level="1">
  <Info>
    <Name>TrueCopy Tree Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 10,
  "startNode": {
    "type": "content"
  }
}]]></Config>
</DataType>