<?xml version="1.0" encoding="utf-8"?>
<Content Key="39b295a2-6b08-47b4-986e-39dfb9a866c5" Alias="Chimelong Ocean Kingdom Opens New Record-Breaking Coaster in China" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/ChimelongOceanKingdomOpensNewRecordBreakingCoasterInChina</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:59:10</CreateDate>
    <NodeName Default="Chimelong Ocean Kingdom Opens New Record-Breaking Coaster in China" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EChimelong Ocean Kingdom has opened a major new coaster that claims several regional records for height and speed, underscoring China\u0027s growing role as a hub for large-scale theme park investment.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-04-25T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[A new coaster at China's Chimelong Ocean Kingdom has opened, claiming several regional height and speed records.]]></Value>
    </summary>
  </Properties>
</Content>