<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef8d2b45-50f6-4a88-b328-d847fc9eff03" Alias="Colossus" Level="5">
  <Info>
    <Parent Key="dd0637ff-e368-4abe-8e5a-0f6841877dad">Thorpe Park</Parent>
    <Path>/Home/Europe/UnitedKingdom/ThorpePark/Colossus</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:56:27</CreateDate>
    <NodeName Default="Colossus" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Multi-inversion steel]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EColossus held the world record for most inversions on a coaster when it opened, with a total of 10.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[30]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[10]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Vekoma]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2002-03-21T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[72]]></Value>
    </topSpeedKph>
  </Properties>
</Content>