<?xml version="1.0" encoding="utf-8"?>
<Content Key="140880ef-0063-41a9-a463-5d34c614180b" Alias="Ferrari Land Barcelona Confirms New Launch Coaster for 2027" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/FerrariLandBarcelonaConfirmsNewLaunchCoasterFor2027</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:58:54</CreateDate>
    <NodeName Default="Ferrari Land Barcelona Confirms New Launch Coaster for 2027" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EPortAventura World has confirmed a new launch coaster is planned for Ferrari Land, aiming for a 2027 debut. The announcement continues the park\u0027s strategy of pairing motorsport branding with high-speed steel coasters.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-05-29T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[PortAventura's Ferrari-branded area is set to receive a new launch coaster ahead of the 2027 season.]]></Value>
    </summary>
  </Properties>
</Content>