<?xml version="1.0" encoding="utf-8"?>
<Content Key="45b6d97d-3831-4c5f-87a6-b0afa71d6f01" Alias="Galactica" Level="5">
  <Info>
    <Parent Key="e15ca32e-6d3a-4f5a-84ca-6b027ac078d9">Alton Towers</Parent>
    <Path>/Home/Europe/UnitedKingdom/AltonTowers/Galactica</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:56:16</CreateDate>
    <NodeName Default="Galactica" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Flying]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EGalactica is a flying coaster that takes riders face-down through a virtual-reality-enhanced space journey.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[18]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[0]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Mack Rides]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2016-05-21T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[75]]></Value>
    </topSpeedKph>
  </Properties>
</Content>