<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2f01897-0eab-4188-b1b3-8227e5d18b1d" Alias="Genting SkyWorlds Adds New Family Coaster in Malaysia" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/GentingSkyWorldsAddsNewFamilyCoasterInMalaysia</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:59:13</CreateDate>
    <NodeName Default="Genting SkyWorlds Adds New Family Coaster in Malaysia" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EGenting SkyWorlds has opened a new family coaster as part of its continued expansion, adding another attraction to the resort\u0027s growing roster since its initial opening in the highlands above Kuala Lumpur.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-03-19T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[Genting SkyWorlds has expanded its ride lineup with a new family-oriented coaster.]]></Value>
    </summary>
  </Properties>
</Content>