<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d2af866-0bc3-412b-836e-c3db777531c9" Alias="Hyperia Breaks UK Attendance Records in First Full Year" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/HyperiaBreaksUKAttendanceRecordsInFirstFullYear</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:58:30</CreateDate>
    <NodeName Default="Hyperia Breaks UK Attendance Records in First Full Year" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EThorpe Park has reported its busiest year in over a decade, crediting the success to Hyperia, the UK\u0027s tallest and fastest rollercoaster. The Mack Rides hyper coaster has drawn enthusiasts and casual visitors alike, and the park says season pass renewals are up sharply compared to previous years.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-04-10T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[Thorpe Park's tallest and fastest coaster has driven a major boost in visitor numbers since opening.]]></Value>
    </summary>
  </Properties>
</Content>