<?xml version="1.0" encoding="utf-8"?>
<Content Key="271e8800-8734-4e2a-977d-9bbf17ca66e5" Alias="Millennium Force" Level="5">
  <Info>
    <Parent Key="b71f5859-a4d4-43c8-bc69-da6370c22c22">Cedar Point</Parent>
    <Path>/Home/NorthAmerica/UnitedStates/CedarPoint/MillenniumForce</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:56:56</CreateDate>
    <NodeName Default="Millennium Force" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Giga coaster]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EMillennium Force was the world\u0027s first giga coaster, breaking the 91-metre height barrier.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[94]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[0]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Intamin]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2000-05-13T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[150]]></Value>
    </topSpeedKph>
  </Properties>
</Content>