<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5a81086-c69b-4786-a21d-d3b01c2afc28" Alias="Nagashima Spa Land Marks 25 Years of Steel Dragon 2000 with Refurbishment" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/NagashimaSpaLandMarks25YearsOfSteelDragon2000WithRefurbishment</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:59:16</CreateDate>
    <NodeName Default="Nagashima Spa Land Marks 25 Years of Steel Dragon 2000 with Refurbishment" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ENagashima Spa Land has completed a full track refurbishment of Steel Dragon 2000 ahead of the coaster\u0027s 25th anniversary, ensuring the world\u0027s longest rollercoaster remains a smooth ride for years to come.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-08-01T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[The world's longest rollercoaster has received a track refurbishment ahead of its 25th anniversary.]]></Value>
    </summary>
  </Properties>
</Content>