<?xml version="1.0" encoding="utf-8"?>
<Content Key="708bf7c5-6c41-4526-bc23-ce66237ed42d" Alias="Nagashima Spa Land" Level="4">
  <Info>
    <Parent Key="8bdd67ad-c8dd-4149-ae3c-4e962fd0c1b6">Japan</Parent>
    <Path>/Home/Asia/Japan/NagashimaSpaLand</Path>
    <Trashed>false</Trashed>
    <ContentType>themePark</ContentType>
    <CreateDate>2026-09-11T22:55:36</CreateDate>
    <NodeName Default="Nagashima Spa Land" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b2d3ba90-90ff-4e9b-8f51-dcf04421d1b0">themePark</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Kuwana, Mie]]></Value>
    </city>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ENagashima Spa Land is one of Japan\u0027s largest amusement parks, historically home to the tallest and fastest coasters in the world.\u003C/p\u003E"
}]]></Value>
    </description>
    <openingYear>
      <Value><![CDATA[1966]]></Value>
    </openingYear>
    <tcBlocks>
      <Value><![CDATA[]]></Value>
    </tcBlocks>
    <tcContentPicker>
      <Value><![CDATA[]]></Value>
    </tcContentPicker>
    <tcTreePicker>
      <Value><![CDATA[]]></Value>
    </tcTreePicker>
    <tcUrlPicker>
      <Value><![CDATA[]]></Value>
    </tcUrlPicker>
  </Properties>
</Content>