<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d91a3de-b6cc-40c7-bab8-5e105be7a73b" Alias="Phantasialand's Rookburgh Expansion Coaster Enters Testing" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/PhantasialandsRookburghExpansionCoasterEntersTesting</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:58:51</CreateDate>
    <NodeName Default="Phantasialand's Rookburgh Expansion Coaster Enters Testing" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ETest trains have started running on the new coaster in Phantasialand\u0027s Rookburgh expansion, a strong signal that a public opening is close. The German park is known for tightly integrating its rides into elaborate themed lands, and this project continues that tradition.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-08-14T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[The new steel coaster in Phantasialand's Rookburgh area has begun test runs ahead of a public opening.]]></Value>
    </summary>
  </Properties>
</Content>