<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ec71fb4-d680-4390-b0f1-ca41d515d79e" Alias="Silver Dollar City Debuts New Wooden-Steel Hybrid Coaster" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/SilverDollarCityDebutsNewWoodenSteelHybridCoaster</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:59:23</CreateDate>
    <NodeName Default="Silver Dollar City Debuts New Wooden-Steel Hybrid Coaster" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ESilver Dollar City has opened a new wooden-steel hybrid coaster, joining a growing trend of parks blending traditional wooden support structures with smooth steel track technology for a distinctive ride experience.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-07-17T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[The Missouri theme park has opened a new hybrid coaster combining wooden structure with steel track.]]></Value>
    </summary>
  </Properties>
</Content>