<?xml version="1.0" encoding="utf-8"?>
<Content Key="691a941f-2537-46f3-9ff6-96d528813d3c" Alias="Six Flags Qiddiya City Reveals New Record-Breaking Coaster Lineup" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/SixFlagsQiddiyaCityRevealsNewRecordBreakingCoasterLineup</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:58:33</CreateDate>
    <NodeName Default="Six Flags Qiddiya City Reveals New Record-Breaking Coaster Lineup" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ESix Flags Qiddiya City has released new details on its planned rollercoaster lineup, including what is billed as the world\u0027s tallest and fastest coaster. Construction is progressing on several rides simultaneously as part of the wider Qiddiya entertainment district being built outside Riyadh.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-02-18T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[The Saudi Arabian megaproject has confirmed several record-chasing coasters ahead of its phased opening.]]></Value>
    </summary>
  </Properties>
</Content>