<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b28d0ca-5f37-4350-b3fe-2d03e131906f" Alias="Steel Vengeance" Level="5">
  <Info>
    <Parent Key="b71f5859-a4d4-43c8-bc69-da6370c22c22">Cedar Point</Parent>
    <Path>/Home/NorthAmerica/UnitedStates/CedarPoint/SteelVengeance</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:56:52</CreateDate>
    <NodeName Default="Steel Vengeance" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Steel hybrid]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ESteel Vengeance rebuilt the wooden Mean Streak into a record-breaking hybrid coaster, frequently rated the world\u0027s best.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[62]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[4]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Rocky Mountain Construction]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2018-05-05T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[119]]></Value>
    </topSpeedKph>
  </Properties>
</Content>