<?xml version="1.0" encoding="utf-8"?>
<Content Key="13f71017-d599-48e7-9541-86cd0276624a" Alias="Steel Dragon 2000" Level="5">
  <Info>
    <Parent Key="708bf7c5-6c41-4526-bc23-ce66237ed42d">Nagashima Spa Land</Parent>
    <Path>/Home/Asia/Japan/NagashimaSpaLand/SteelDragon2000</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:57:42</CreateDate>
    <NodeName Default="Steel Dragon 2000" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Steel sit-down]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ESteel Dragon 2000 is the longest rollercoaster in the world, with a track length of over 2,470 metres.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[97]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[0]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Morgan]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2000-08-01T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[153]]></Value>
    </topSpeedKph>
  </Properties>
</Content>