<?xml version="1.0" encoding="utf-8"?>
<Content Key="efb48092-404c-4f23-9b8c-05cbd1d9824d" Alias="Wodan – Timburcoaster" Level="5">
  <Info>
    <Parent Key="fe18c2cc-133e-4116-a38a-7b09630fa221">Europa-Park</Parent>
    <Path>/Home/Europe/Germany/EuropaPark/WodanTimburcoaster</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:56:43</CreateDate>
    <NodeName Default="Wodan – Timburcoaster" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Wooden]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWodan \u2013 Timburcoaster is a Viking-themed wooden coaster known for its smooth, high-speed ride.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[33]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[0]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Great Coasters International]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2012-06-08T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[90]]></Value>
    </topSpeedKph>
  </Properties>
</Content>