<?xml version="1.0" encoding="utf-8"?>
<Content Key="e216765f-1b8e-489f-8945-b83fa926f0b1" Alias="Wonder Woman Flight of Courage" Level="5">
  <Info>
    <Parent Key="49fe4b57-011c-4b57-b57e-90a47ffddf6d">Six Flags Magic Mountain</Parent>
    <Path>/Home/NorthAmerica/UnitedStates/SixFlagsMagicMountain/WonderWomanFlightOfCourage</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:57:11</CreateDate>
    <NodeName Default="Wonder Woman Flight of Courage" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Single-rail steel]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWonder Woman Flight of Courage was North America\u0027s tallest, fastest, and longest single-rail coaster at opening.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[44]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[3]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Rocky Mountain Construction]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2022-05-01T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[93]]></Value>
    </topSpeedKph>
  </Properties>
</Content>