<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f5210f0-5498-4865-a890-bb95cf58dad6" Alias="X2" Level="5">
  <Info>
    <Parent Key="49fe4b57-011c-4b57-b57e-90a47ffddf6d">Six Flags Magic Mountain</Parent>
    <Path>/Home/NorthAmerica/UnitedStates/SixFlagsMagicMountain/X2</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:57:07</CreateDate>
    <NodeName Default="X2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[4th dimension]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EX2 was the world\u0027s first 4th dimension coaster, spinning riders\u0027 seats independently of the track.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[53]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[2]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Arrow Dynamics / S&S]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2002-01-12T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[122]]></Value>
    </topSpeedKph>
  </Properties>
</Content>