<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c137e06c-7443-4348-ab50-ceb55d00378a" Alias="continent" Level="1">
  <Info>
    <Name>Continent</Name>
    <Icon>icon-globe</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>continent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7b554dfb-67b4-4ede-86d9-de055ff3d5b3">continent</Template>
    </AllowedTemplates>
    <AllowedInLibrary>true</AllowedInLibrary>
  </Info>
  <Structure>
    <ContentType Key="5dadd34a-e0be-4560-8df9-19841a333e08" SortOrder="0">country</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>19794346-bc62-4a27-a37f-c01d1a46df0d</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>af843a82-502e-4fbe-b164-966938656ba3</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>