<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eebfa10b-50c8-4af4-a6b8-2e7b7de13847" Alias="News list" Level="1">
  <Info>
    <Name>News list</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "icon": "icon-list",
  "includeProperties": [
    {
      "alias": "publishDate",
      "header": "Publish Date",
      "isSystem": 0
    },
    {
      "header": "Created by",
      "alias": "creator",
      "isSystem": 1
    }
  ],
  "layouts": [
    {
      "name": "Table",
      "icon": "icon-list",
      "collectionView": "Umb.CollectionView.Document.Table"
    }
  ],
  "orderBy": "publishDate",
  "orderDirection": "desc",
  "pageSize": 10,
  "tabName": "News items"
}]]></Config>
</DataType>