<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0000000-0000-4000-8000-000000000003" Alias="TrueCopy Block List" Level="1">
  <Info>
    <Name>TrueCopy Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d0000000-0000-4000-8000-000000000001"
    }
  ]
}]]></Config>
</DataType>