<?xml version="1.0" encoding="utf-8"?>
<Domain Key="d3652a48-0000-0000-0000-000000000000" Alias="https://testsite1.127.0.0.1.nip.io:44366">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="4783f601-9603-48df-a4d1-a4e218118b90">/Home</Root>
  </Info>
</Domain>