<?xml version="1.0" encoding="utf-8"?>
<Content Key="e15ca32e-6d3a-4f5a-84ca-6b027ac078d9" Alias="Alton Towers" Level="4">
  <Info>
    <Parent Key="3066bfc8-08ca-49a4-8af3-262c26589c95">United Kingdom</Parent>
    <Path>/Home/Europe/UnitedKingdom/AltonTowers</Path>
    <Trashed>false</Trashed>
    <ContentType>themePark</ContentType>
    <CreateDate>2026-09-11T22:55:19</CreateDate>
    <NodeName Default="Alton Towers" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule>
      <ContentSchedule>
        <Culture>*</Culture>
        <Action>Expire</Action>
        <Date>2026-11-15T17:30:00</Date>
      </ContentSchedule>
    </Schedule>
    <Template Key="b2d3ba90-90ff-4e9b-8f51-dcf04421d1b0">themePark</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Alton, Staffordshire]]></Value>
    </city>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EAlton Towers is the UK\u0027s largest theme park. See also \u003Ca href=\u0022/{localLink:dd0637ff-e368-4abe-8e5a-0f6841877dad}\u0022 type=\u0022document\u0022\u003EThorpe Park\u003C/a\u003E and \u003Ca href=\u0022/{localLink:fe18c2cc-133e-4116-a38a-7b09630fa221}\u0022 type=\u0022document\u0022\u003EEuropa-Park\u003C/a\u003E.\u003C/p\u003E"
}]]></Value>
    </description>
    <openingYear>
      <Value><![CDATA[1980]]></Value>
    </openingYear>
    <tcBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d0000000-0000-4000-8000-000000000001",
      "key": "d0000000-0000-4000-8000-000000000041",
      "values": [
        {
          "alias": "blockLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/e15ca32e6d3a4f5a84ca6b027ac078d9"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d0000000-0000-4000-8000-000000000041",
      "culture": null,
      "segment": null
    }
  ],
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d0000000-0000-4000-8000-000000000041",
        "settingsKey": null
      }
    ]
  }
}]]></Value>
    </tcBlocks>
    <tcContentPicker>
      <Value><![CDATA[umb://document/dd0637ffe3684abe8e5a0f6841877dad]]></Value>
    </tcContentPicker>
    <tcTreePicker>
      <Value><![CDATA[umb://document/dd0637ffe3684abe8e5a0f6841877dad,umb://document/fe18c2cc133e4116a38a7b09630fa221]]></Value>
    </tcTreePicker>
    <tcUrlPicker>
      <Value><![CDATA[[
  {
    "name": "To Thorpe Park",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": "umb://document/dd0637ffe3684abe8e5a0f6841877dad",
    "url": null,
    "queryString": null,
    "culture": null
  },
  {
    "name": "To Europa-Park",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": "umb://document/fe18c2cc133e4116a38a7b09630fa221",
    "url": null,
    "queryString": null,
    "culture": null
  },
  {
    "name": "Umbraco",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://umbraco.com",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </tcUrlPicker>
  </Properties>
</Content>