<?xml version="1.0" encoding="utf-8"?>
<Content Key="5044749e-186b-43fd-96af-7b451824ee15" Alias="Asia" Level="2">
  <Info>
    <Parent Key="4783f601-9603-48df-a4d1-a4e218118b90">Home</Parent>
    <Path>/Home/Asia</Path>
    <Trashed>false</Trashed>
    <ContentType>continent</ContentType>
    <CreateDate>2026-09-11T22:54:54</CreateDate>
    <NodeName Default="Asia" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7b554dfb-67b4-4ede-86d9-de055ff3d5b3">continent</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Asia's theme parks push the limits of height and speed, with Japan and South Korea leading a new generation of intense steel coasters.]]></Value>
    </description>
  </Properties>
</Content>