<?xml version="1.0" encoding="utf-8"?>
<Content Key="051125bf-e618-4139-99a5-b6a12d9528c0" Alias="Canada's Wonderland Announces New Record-Breaking Coaster for 2027" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/CanadasWonderlandAnnouncesNewRecordBreakingCoasterFor2027</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:59:35</CreateDate>
    <NodeName Default="Canada's Wonderland Announces New Record-Breaking Coaster for 2027" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ECanada\u0027s Wonderland has announced a new coaster project slated for a 2027 debut, aiming to claim the title of the country\u0027s tallest and fastest rollercoaster and continuing the park\u0027s long history of record-breaking additions.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-08-28T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[Canada's largest amusement park has announced another coaster project aiming to break national records.]]></Value>
    </summary>
  </Properties>
</Content>