<?xml version="1.0" encoding="utf-8"?>
<Content Key="22d6e6df-37c1-406c-9d72-305e5cac5331" Alias="Canada" Level="3">
  <Info>
    <Parent Key="01dcc8a1-d30e-4bf1-97be-700da39482ac">North America</Parent>
    <Path>/Home/NorthAmerica/Canada</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2026-09-11T22:55:07</CreateDate>
    <NodeName Default="Canada" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="277d8b26-001f-4cab-b406-59fdcd76e089">country</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Canada's Wonderland near Toronto is Canada's largest amusement park and a Cedar Fair flagship property.]]></Value>
    </description>
  </Properties>
</Content>