<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c0a2a4e-6583-4485-a517-4f8768d4fd30" Alias="Canada's Wonderland" Level="4">
  <Info>
    <Parent Key="22d6e6df-37c1-406c-9d72-305e5cac5331">Canada</Parent>
    <Path>/Home/NorthAmerica/Canada/CanadasWonderland</Path>
    <Trashed>false</Trashed>
    <ContentType>themePark</ContentType>
    <CreateDate>2026-09-11T22:55:30</CreateDate>
    <NodeName Default="Canada's Wonderland" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b2d3ba90-90ff-4e9b-8f51-dcf04421d1b0">themePark</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Vaughan, Ontario]]></Value>
    </city>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ECanada\u0027s Wonderland is the largest amusement park in Canada, featuring a strong lineup of record-setting coasters.\u003C/p\u003E"
}]]></Value>
    </description>
    <openingYear>
      <Value><![CDATA[1981]]></Value>
    </openingYear>
    <tcBlocks>
      <Value><![CDATA[]]></Value>
    </tcBlocks>
    <tcContentPicker>
      <Value><![CDATA[]]></Value>
    </tcContentPicker>
    <tcTreePicker>
      <Value><![CDATA[]]></Value>
    </tcTreePicker>
    <tcUrlPicker>
      <Value><![CDATA[]]></Value>
    </tcUrlPicker>
  </Properties>
</Content>