<?xml version="1.0" encoding="utf-8"?>
<Content Key="b71f5859-a4d4-43c8-bc69-da6370c22c22" Alias="Cedar Point" Level="4">
  <Info>
    <Parent Key="ec67a4b9-df92-4cfb-a905-49574a885ec2">United States</Parent>
    <Path>/Home/NorthAmerica/UnitedStates/CedarPoint</Path>
    <Trashed>false</Trashed>
    <ContentType>themePark</ContentType>
    <CreateDate>2026-09-11T22:55:26</CreateDate>
    <NodeName Default="Cedar Point" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b2d3ba90-90ff-4e9b-8f51-dcf04421d1b0">themePark</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Sandusky, Ohio]]></Value>
    </city>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ECedar Point is known as \u0022America\u0027s Roller Coast,\u0022 home to one of the largest and most acclaimed coaster collections in the world.\u003C/p\u003E"
}]]></Value>
    </description>
    <openingYear>
      <Value><![CDATA[1870]]></Value>
    </openingYear>
    <tcBlocks>
      <Value><![CDATA[]]></Value>
    </tcBlocks>
    <tcContentPicker>
      <Value><![CDATA[]]></Value>
    </tcContentPicker>
    <tcTreePicker>
      <Value><![CDATA[]]></Value>
    </tcTreePicker>
    <tcUrlPicker>
      <Value><![CDATA[]]></Value>
    </tcUrlPicker>
  </Properties>
</Content>