<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce4978d5-5a68-464f-a65b-f2b778035ce5" Alias="Cedar Fair-Six Flags Merger Fuels New Coaster Investment Wave" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/CedarFairSixFlagsMergerFuelsNewCoasterInvestmentWave</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:59:07</CreateDate>
    <NodeName Default="Cedar Fair-Six Flags Merger Fuels New Coaster Investment Wave" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EExecutives at the merged Six Flags entertainment group say a new wave of capital investment is being funneled into flagship coaster projects across the combined park portfolio, with several major announcements expected throughout the year.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-01-15T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[The combined Six Flags entertainment group is directing fresh capital toward flagship coaster additions.]]></Value>
    </summary>
  </Properties>
</Content>