<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe18c2cc-133e-4116-a38a-7b09630fa221" Alias="Europa-Park" Level="4">
  <Info>
    <Parent Key="79d1cdb0-087a-4c12-b206-dec72a971876">Germany</Parent>
    <Path>/Home/Europe/Germany/EuropaPark</Path>
    <Trashed>false</Trashed>
    <ContentType>themePark</ContentType>
    <CreateDate>2026-09-11T22:55:23</CreateDate>
    <NodeName Default="Europa-Park" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b2d3ba90-90ff-4e9b-8f51-dcf04421d1b0">themePark</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Rust, Baden-Württemberg]]></Value>
    </city>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EEuropa-Park is Germany\u0027s largest theme park, divided into themed areas representing different European countries.\u003C/p\u003E"
}]]></Value>
    </description>
    <openingYear>
      <Value><![CDATA[1975]]></Value>
    </openingYear>
    <tcBlocks>
      <Value><![CDATA[]]></Value>
    </tcBlocks>
    <tcContentPicker>
      <Value><![CDATA[]]></Value>
    </tcContentPicker>
    <tcTreePicker>
      <Value><![CDATA[]]></Value>
    </tcTreePicker>
    <tcUrlPicker>
      <Value><![CDATA[]]></Value>
    </tcUrlPicker>
  </Properties>
</Content>