<?xml version="1.0" encoding="utf-8"?>
<Content Key="687d8635-f864-4066-a83a-5cb0f3bdf987" Alias="Everland" Level="4">
  <Info>
    <Parent Key="1871ac20-cb0d-47eb-aeb8-66e9888a8006">South Korea</Parent>
    <Path>/Home/Asia/SouthKorea/Everland</Path>
    <Trashed>false</Trashed>
    <ContentType>themePark</ContentType>
    <CreateDate>2026-09-11T22:55:38</CreateDate>
    <NodeName Default="Everland" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b2d3ba90-90ff-4e9b-8f51-dcf04421d1b0">themePark</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Yongin, Gyeonggi]]></Value>
    </city>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EEverland is South Korea\u0027s largest theme park, featuring the country\u0027s premier wooden and steel coasters.\u003C/p\u003E"
}]]></Value>
    </description>
    <openingYear>
      <Value><![CDATA[1976]]></Value>
    </openingYear>
    <tcBlocks>
      <Value><![CDATA[]]></Value>
    </tcBlocks>
    <tcContentPicker>
      <Value><![CDATA[]]></Value>
    </tcContentPicker>
    <tcTreePicker>
      <Value><![CDATA[]]></Value>
    </tcTreePicker>
    <tcUrlPicker>
      <Value><![CDATA[]]></Value>
    </tcUrlPicker>
  </Properties>
</Content>