<?xml version="1.0" encoding="utf-8"?>
<Content Key="25c70034-c323-43eb-9a85-c92b97f96fa1" Alias="Fuji-Q Highland Confirms Do-Dodonpa Speed Restoration Timeline" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/FujiQHighlandConfirmsDoDodonpaSpeedRestorationTimeline</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:59:19</CreateDate>
    <NodeName Default="Fuji-Q Highland Confirms Do-Dodonpa Speed Restoration Timeline" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EFuji-Q Highland has provided an update on Do-Dodonpa\u0027s launch system following earlier safety-driven modifications, with engineers continuing to fine-tune the compressed-air launch mechanism that made the ride famous.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-02-05T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[Fuji-Q Highland has shared an update on ongoing safety-driven adjustments to Do-Dodonpa's launch system.]]></Value>
    </summary>
  </Properties>
</Content>