<?xml version="1.0" encoding="utf-8"?>
<Content Key="79d1cdb0-087a-4c12-b206-dec72a971876" Alias="Germany" Level="3">
  <Info>
    <Parent Key="4828a535-ff23-4bbd-8d4d-e90e1bee5459">Europe</Parent>
    <Path>/Home/Europe/Germany</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2026-09-11T22:55:02</CreateDate>
    <NodeName Default="Germany" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="277d8b26-001f-4cab-b406-59fdcd76e089">country</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Germany is home to Europa-Park, consistently ranked among the best theme parks in the world.]]></Value>
    </description>
  </Properties>
</Content>