<?xml version="1.0" encoding="utf-8"?>
<Content Key="15334936-51f4-4ae6-a0c5-06aed5c3dfce" Alias="Hakugei" Level="5">
  <Info>
    <Parent Key="708bf7c5-6c41-4526-bc23-ce66237ed42d">Nagashima Spa Land</Parent>
    <Path>/Home/Asia/Japan/NagashimaSpaLand/Hakugei</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:57:46</CreateDate>
    <NodeName Default="Hakugei" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Hyper coaster]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EHakugei, meaning \u0022white whale,\u0022 is Japan\u0027s first hyper coaster and one of the tallest coasters in the country.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[65]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[0]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Bolliger & Mabillard]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2019-07-13T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[122]]></Value>
    </topSpeedKph>
  </Properties>
</Content>