<?xml version="1.0" encoding="utf-8"?>
<Content Key="736b0e13-1b5e-4cc2-aa8b-e626d71b1a24" Alias="Hyperia" Level="5">
  <Info>
    <Parent Key="dd0637ff-e368-4abe-8e5a-0f6841877dad">Thorpe Park</Parent>
    <Path>/Home/Europe/UnitedKingdom/ThorpePark/Hyperia</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:56:31</CreateDate>
    <NodeName Default="Hyperia" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Hyper coaster]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EHyperia is the UK\u0027s tallest and fastest rollercoaster, opened in 2024 as Thorpe Park\u0027s biggest investment to date.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[72]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[0]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Mack Rides]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2024-04-04T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[128]]></Value>
    </topSpeedKph>
  </Properties>
</Content>