<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bdd67ad-c8dd-4149-ae3c-4e962fd0c1b6" Alias="Japan" Level="3">
  <Info>
    <Parent Key="5044749e-186b-43fd-96af-7b451824ee15">Asia</Parent>
    <Path>/Home/Asia/Japan</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2026-09-11T22:55:08</CreateDate>
    <NodeName Default="Japan" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="277d8b26-001f-4cab-b406-59fdcd76e089">country</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Japan is renowned for extreme, high-intensity coasters at parks like Fuji-Q Highland and Nagashima Spa Land.]]></Value>
    </description>
  </Properties>
</Content>