<?xml version="1.0" encoding="utf-8"?>
<Content Key="11c48ef9-5040-43c8-8629-260253dee68b" Alias="Nemesis" Level="5">
  <Info>
    <Parent Key="e15ca32e-6d3a-4f5a-84ca-6b027ac078d9">Alton Towers</Parent>
    <Path>/Home/Europe/UnitedKingdom/AltonTowers/Nemesis</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:56:13</CreateDate>
    <NodeName Default="Nemesis" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Inverted]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ENemesis is a pioneering inverted coaster built into a sunken trench, widely regarded as one of the best rollercoasters in the world.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[13]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[4]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Bolliger & Mabillard]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[1994-03-19T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[80]]></Value>
    </topSpeedKph>
  </Properties>
</Content>