<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f1e1997-adf0-407d-8c32-1a341af71d81" Alias="News" Level="2">
  <Info>
    <Parent Key="4783f601-9603-48df-a4d1-a4e218118b90">Home</Parent>
    <Path>/Home/News</Path>
    <Trashed>false</Trashed>
    <ContentType>newsOverview</ContentType>
    <CreateDate>2026-09-11T22:54:48</CreateDate>
    <NodeName Default="News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="99f28bbd-6f2a-4b51-b0c4-bacf95927ec2">newsOverview</Template>
  </Info>
  <Properties>
    <introText>
      <Value><![CDATA[The latest rollercoaster construction updates and grand openings from theme parks around the world.]]></Value>
    </introText>
  </Properties>
</Content>