<?xml version="1.0" encoding="utf-8"?>
<Content Key="16fd6aaa-238a-4a35-97af-cd53228b0014" Alias="Six Flags Over Georgia Breaks Ground on New RMC Hybrid" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/SixFlagsOverGeorgiaBreaksGroundOnNewRMCHybrid</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:58:47</CreateDate>
    <NodeName Default="Six Flags Over Georgia Breaks Ground on New RMC Hybrid" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EConstruction crews have broken ground on the conversion of a classic wooden coaster into a Rocky Mountain Construction steel hybrid. The project follows a wave of similar transformations across North American parks, which have proven popular with riders seeking smoother, more intense versions of beloved classics.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-07-03T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[An aging wooden coaster is being transformed into a Rocky Mountain Construction steel hybrid.]]></Value>
    </summary>
  </Properties>
</Content>