<?xml version="1.0" encoding="utf-8"?>
<Content Key="1871ac20-cb0d-47eb-aeb8-66e9888a8006" Alias="South Korea" Level="3">
  <Info>
    <Parent Key="5044749e-186b-43fd-96af-7b451824ee15">Asia</Parent>
    <Path>/Home/Asia/SouthKorea</Path>
    <Trashed>false</Trashed>
    <ContentType>country</ContentType>
    <CreateDate>2026-09-11T22:55:10</CreateDate>
    <NodeName Default="South Korea" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="277d8b26-001f-4cab-b406-59fdcd76e089">country</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[South Korea's Everland is the country's largest theme park and a major destination in the region.]]></Value>
    </description>
  </Properties>
</Content>