<?xml version="1.0" encoding="utf-8"?>
<Content Key="43dfeee4-c502-4493-a7a0-31cfbc0ad14a" Alias="T Express" Level="5">
  <Info>
    <Parent Key="687d8635-f864-4066-a83a-5cb0f3bdf987">Everland</Parent>
    <Path>/Home/Asia/SouthKorea/Everland/TExpress</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:57:54</CreateDate>
    <NodeName Default="T Express" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Wooden]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ET Express was Asia\u0027s first out-and-back wooden coaster and remains a signature ride at Everland.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[51]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[0]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Intamin]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2008-03-05T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[104]]></Value>
    </topSpeedKph>
  </Properties>
</Content>