<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd0637ff-e368-4abe-8e5a-0f6841877dad" Alias="Thorpe Park" Level="4">
  <Info>
    <Parent Key="3066bfc8-08ca-49a4-8af3-262c26589c95">United Kingdom</Parent>
    <Path>/Home/Europe/UnitedKingdom/ThorpePark</Path>
    <Trashed>false</Trashed>
    <ContentType>themePark</ContentType>
    <CreateDate>2026-09-11T22:55:21</CreateDate>
    <NodeName Default="Thorpe Park" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b2d3ba90-90ff-4e9b-8f51-dcf04421d1b0">themePark</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Chertsey, Surrey]]></Value>
    </city>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EThorpe Park is a thrill-focused theme park near London known for its intense, high-speed coasters.\u003C/p\u003E"
}]]></Value>
    </description>
    <openingYear>
      <Value><![CDATA[1979]]></Value>
    </openingYear>
    <tcBlocks>
      <Value><![CDATA[]]></Value>
    </tcBlocks>
    <tcContentPicker>
      <Value><![CDATA[umb://document/e15ca32e6d3a4f5a84ca6b027ac078d9]]></Value>
    </tcContentPicker>
    <tcTreePicker>
      <Value><![CDATA[]]></Value>
    </tcTreePicker>
    <tcUrlPicker>
      <Value><![CDATA[]]></Value>
    </tcUrlPicker>
  </Properties>
</Content>