<?xml version="1.0" encoding="utf-8"?>
<Content Key="e377d668-1755-4929-937b-9053ef5e5869" Alias="Top Thrill 2 Celebrates Second Season at Cedar Point" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/TopThrill2CelebratesSecondSeasonAtCedarPoint</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:58:26</CreateDate>
    <NodeName Default="Top Thrill 2 Celebrates Second Season at Cedar Point" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ETop Thrill 2, Cedar Point\u0027s rebuild of the former Top Thrill Dragster, is heading into its second full operating season after a hugely popular debut. Park officials say the dual-launch layout has kept wait times high all year, and reliability has improved significantly since opening. Enthusiasts continue to rank it among the most intense launch coasters in North America.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-05-05T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[Cedar Point's dual-launch strata coaster heads into its second full season with strong ridership numbers.]]></Value>
    </summary>
  </Properties>
</Content>