<?xml version="1.0" encoding="utf-8"?>
<Content Key="84329fdf-4176-4193-83f4-62cd80e56f91" Alias="Top Thrill 2" Level="5">
  <Info>
    <Parent Key="b71f5859-a4d4-43c8-bc69-da6370c22c22">Cedar Point</Parent>
    <Path>/Home/NorthAmerica/UnitedStates/CedarPoint/TopThrill2</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:57:00</CreateDate>
    <NodeName Default="Top Thrill 2" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Launched strata coaster]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ETop Thrill 2 reimagined the former Top Thrill Dragster into a dual-launch strata coaster with two 120-metre-plus towers.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[128]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[0]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Zamperla]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2024-05-05T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[190]]></Value>
    </topSpeedKph>
  </Properties>
</Content>