<?xml version="1.0" encoding="utf-8"?>
<Content Key="be50fa03-d5e1-4f22-9fe3-5115a7f32cfe" Alias="Twisted Colossus" Level="5">
  <Info>
    <Parent Key="49fe4b57-011c-4b57-b57e-90a47ffddf6d">Six Flags Magic Mountain</Parent>
    <Path>/Home/NorthAmerica/UnitedStates/SixFlagsMagicMountain/TwistedColossus</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:57:04</CreateDate>
    <NodeName Default="Twisted Colossus" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Steel hybrid]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003ETwisted Colossus transformed the old Colossus wooden coaster into a dueling steel hybrid with two inversions.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[39]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[2]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Rocky Mountain Construction]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2015-05-21T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[90]]></Value>
    </topSpeedKph>
  </Properties>
</Content>