<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d967ba2-9c06-4978-9d66-1e2856f7ea25" Alias="Universal Epic Universe's Stardust Racers Wins Global Coaster Award" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/UniversalEpicUniversesStardustRacersWinsGlobalCoasterAward</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:58:37</CreateDate>
    <NodeName Default="Universal Epic Universe's Stardust Racers Wins Global Coaster Award" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EStardust Racers, the dueling launch coaster at Universal Epic Universe, has won Best New Coaster at this year\u0027s international theme park awards. Since opening, the ride has become one of the most talked-about additions to Orlando\u0027s competitive coaster scene.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-03-01T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[The dueling launch coaster at Universal's newest park has taken top honors at an international awards event.]]></Value>
    </summary>
  </Properties>
</Content>