<?xml version="1.0" encoding="utf-8"?>
<Content Key="41350e04-2ce3-4e00-8db5-08ffc71b8165" Alias="Walibi Holland Begins Construction on New Launch Coaster" Level="3">
  <Info>
    <Parent Key="1f1e1997-adf0-407d-8c32-1a341af71d81">News</Parent>
    <Path>/Home/News/WalibiHollandBeginsConstructionOnNewLaunchCoaster</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2026-09-11T22:59:26</CreateDate>
    <NodeName Default="Walibi Holland Begins Construction on New Launch Coaster" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="298735d5-4e12-4483-bc3a-433b6710549f">newsItem</Template>
  </Info>
  <Properties>
    <articleBody>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWalibi Holland has begun construction on a new launch coaster, with the park targeting a 2027 opening. The project is expected to become one of the park\u0027s headline attractions once complete.\u003C/p\u003E"
}]]></Value>
    </articleBody>
    <publishDate>
      <Value><![CDATA[2026-09-02T00:00:00]]></Value>
    </publishDate>
    <summary>
      <Value><![CDATA[Construction has started on a new launch coaster at the Dutch park, expected to open in 2027.]]></Value>
    </summary>
  </Properties>
</Content>