<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9439d75-518c-4c43-be25-e050a3c81685" Alias="Wicker Man" Level="5">
  <Info>
    <Parent Key="e15ca32e-6d3a-4f5a-84ca-6b027ac078d9">Alton Towers</Parent>
    <Path>/Home/Europe/UnitedKingdom/AltonTowers/WickerMan</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:56:20</CreateDate>
    <NodeName Default="Wicker Man" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Wooden]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWicker Man is the UK\u0027s first new wooden coaster in a generation, themed around a giant burning effigy.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[22]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[0]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Great Coasters International]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2018-03-16T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[72]]></Value>
    </topSpeedKph>
  </Properties>
</Content>