<?xml version="1.0" encoding="utf-8"?>
<Content Key="88c37499-4aca-4099-9e36-53429d1815bf" Alias="Wonder Mountain's Guardian" Level="5">
  <Info>
    <Parent Key="1c0a2a4e-6583-4485-a517-4f8768d4fd30">Canada's Wonderland</Parent>
    <Path>/Home/NorthAmerica/Canada/CanadasWonderland/WonderMountainsGuardian</Path>
    <Trashed>false</Trashed>
    <ContentType>rollercoaster</ContentType>
    <CreateDate>2026-09-11T22:57:22</CreateDate>
    <NodeName Default="Wonder Mountain's Guardian" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a2cfed0a-620f-4cd0-a138-f8c17fccb2d4">rollercoaster</Template>
  </Info>
  <Properties>
    <coasterType>
      <Value><![CDATA[Multi-launch]]></Value>
    </coasterType>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "layout": {}
  },
  "markup": "\u003Cp\u003EWonder Mountain\u0027s Guardian winds through the park\u0027s iconic mountain with multiple launches and tight turns.\u003C/p\u003E"
}]]></Value>
    </description>
    <heightMeters>
      <Value><![CDATA[33]]></Value>
    </heightMeters>
    <inversions>
      <Value><![CDATA[0]]></Value>
    </inversions>
    <manufacturer>
      <Value><![CDATA[Intamin]]></Value>
    </manufacturer>
    <openingDate>
      <Value><![CDATA[2015-09-16T00:00:00]]></Value>
    </openingDate>
    <topSpeedKph>
      <Value><![CDATA[89]]></Value>
    </topSpeedKph>
  </Properties>
</Content>